<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %highlight(%-5level) [%thread] %cyan(%logger{64}) %yellow([%file:%line]) %highlight(%msg) %n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/topplus.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>logs/topplus-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 10MB -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%date %level [%thread] %logger{64} [%file:%line] %msg %n</pattern>
        </encoder>
    </appender>

    <!-- Application Loggers -->
    <logger name="com.iron.ncp">
        <level value="warn"/>
    </logger>

    <!-- Root Logger -->
    <root level="warn"><!--日志打印级别配置-->
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
    <!-- 下面配置一些第三方包的日志过滤级别，用于避免刷屏 -->
    <logger name="org.mybatis" level="INFO"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="tk.mybatis" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN"/>

</configuration>
