<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iron.ncp.dao.BaseInfoMapper" >

  <select id="selectByCompany" parameterType="com.iron.ncp.entity.BaseInfo" resultType="com.iron.ncp.entity.BaseInfo">
    select * from base_info
    <where>
      <if test="companyNum!=null and subFlag==0">AND company_num =#{companyNum}</if>
      <if test="companyNum!=null and subFlag==1">AND company_num LIKE CONCAT(#{companyNum},'%')</if>
      <if test="name!=null">AND name = #{name}</if>
      <if test="tel!=null">AND tel = #{tel}</if>
      <if test="idCard!=null">AND id_card = #{idCard}</if>
      <if test="personType!=null">AND person_type = #{personType}</if>
    </where>
  </select>
</mapper>